{% extends 'base.html' %}

{% block main %}

<h1>Про нас</h1>
<p>
Мы - перспективная команда разработчиков, Literate-doodle. Данный бот является нашим первым из проектов. Несмотря на это, он уже превосходит по качеству всех конкурентов на мировом рынке telegram-ботов, и, с получением финансирования, мы собираемся стать самой важной частью IT-мира. У нас есть:
	<ul>
	<li> Самые перспективные кадры с лучшим возможным образовниям</li>
	<li> Новейшая структура разработки, за счёт мы выполняем задачи в рекордные сроки </li>
	<li> Наличие связей почти во всех сферах науки позволяет нам использовать недавние технологии </li>
	<li> Постоянное создание и использование революционных идей </li>
	<li> Планы на сотрудничество с гигантами программирования </li>
	</ul>
Безусловно, сейчас наша команда ещё не очень большая, однако мы уже гордимся нашими выпущенными и создаваемыми проектами.
</p>

<p>
Обратная связь:
<br>
Почта: litdoodle@mail.ru
</br>
Телеграмм-канал: t.me/literatedoodle
</br>
Discord: discord.gg/litdoodle
</p>

{% endblock %}
