
{% extends 'base.html' %}

{% block main %}

<h1>О боте</h1>
<p>Математический бот - это компьютерная программа, позволяющая выполнять математические вычисления и оказывать помощь в решении математических задач. Он может работать с различными математическими явлениями, строить графики, решать уравнения, предлагать пошаговые решения задач, а также решать вопросы, связанные с математикой. Математический бот может использоваться студентами, студентами и профессионалами, которым необходима быстрая и точная математическая поддержка.</p>
<p>Наш бот обладает возможностью помощи в подготовке к ЕГЭ, отправляет формулы и теоремы, помогает с решением задач. Также у него есть встроенный калькулятор для облегчения вычислений. В боте представлена информация о тригонометрии, которая может быть полезной при решении задач. Кроме того, есть игровой режим, в котором можно соревноваться в решении задач быстрее других пользователей.</p>


{% endblock %}
