{% extends 'base.html' %}

{% block main %}
<style>

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
}

a {
    color: #000000;
    text-decoration: none;
}

a:hover {
    color: #007BFF;
}

img {
    display: block;
    margin: 0 auto;
}

p {
    font-size: 1.5rem;
    text-align: center;
    font-family: Arial;
    margin-top: 20px;
}
li1 {


    display: flex;
    justify-content: center;


    background-color: #2bb437;
    text-align: center;
    font-size: 1.5rem;


}
</style>











<li1><a href="/commands">Страница с командами бота</a></li1>
<img src="https://thumb.tildacdn.com/tild3461-3866-4431-b531-383761313134/-/resize/492x/-/format/webp/Saly-38.png" alt="Аватарка бота" width="200" height="200">
<p>
    Этот бот поможет каждому школьнику с математикой, на нём вы можете найти огромное количество формул а так же калькулятор с разными возможностями.
</p>

<li><a href="/payment">Донат , закинуть нам денег</a></li>




{% endblock %}


